@import "./../../normalize.scss";

.header {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0;

    &__text {
      font-size: 40px;
      margin-right: 30px;
    }

    &__menu {
      display: flex;
      align-items: center;

      li {
        list-style-type: none;
        margin-right: 30px;

        a {
          font-size: 20px;
        }
      }
    }

}